@font-face {
    font-family: 'FFShamelFamily-SansOneBold';
    src: url(./../fonts/ArbFONTS-FFShamelFamily-SansOneBold.ttf);
}

@font-face {
    font-family: 'FFShamelFamily-SansOneBook';
    src: url(./../fonts/ArbFONTS-FFShamelFamily-SansOneBook.ttf);
}

.bg {
    background: url(./../image/Group.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.height-100 {
    height: calc(76vh);
}

div.container-fluid {
    margin-top: 19vh;
    width: 92%;
    margin-left: 0px;
    /* padding: 35px; */

}

div h3 {
    font-family: 'FFShamelFamily-SansOneBold';
    font-size: 20px;
    color: #CF2A45;
}

ul li a {
    color: #392C23;
    font-size: 16px;
    font-family: 'FFShamelFamily-SansOneBook';
    text-decoration: none;
}
.padding{
        padding: 32px;
}
.card {
    padding: 15px;
}

/* 
.line {
    height: 2px;
    width: 96%;
    background-color: #D6D6D6;
} */